{% load bootstrap3 %}
<div class="modal fade" id="formationDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation de suppression</h5>
            </div>
            <div class="modal-body">
                <span>Voulez vous vraiment supprimer la formation : {{ formation.code }} {{ formation.name }} {{ formation.id }}</span>
                <br>
                {% if formation.seance_set.count > 0 %}
                    <span>Attention : Vous allez égualement supprimer les {{ formation.seance_set.count }} séances ainsi que les insciptions liées </span>
                {% endif %}
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'formation_metier:delete_formation' formation.id %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    {% bootstrap_button "Supprimer" button_type="submit" button_class="btn btn-sm btn-danger" %}
                </form>
            </div>
        </div>
    </div>
</div>