<div class="modal fade" id="formationDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation de suppression</h5>
            </div>
            <div class="modal-body">
                <span>Voulez vous vraiment supprimer la formation : {{ formation.code }} {{ formation.name }} {{ formation.id }}</span>
                {% if formation.session_set.count > 0 %}
                    <span>Attention vous allez égualement supprimer les {{ formation.session_set.count }} séances ainsi que les insciptions liées </span>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-sm btn-danger"
                   href="{% url 'formation_metier:delete_formation' formation.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>