{% load bootstrap3 %}
<div class="modal fade" id="seanceDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation de suppression</h5>
            </div>
            <div class="modal-body">
                <span>Voulez vous vraiment supprimer la séance du {{ seance.seance_date.date }} de la formation {{ seance.formation.name }} </span>
                <br>
                {% if seance.register_set.count > 0 %}
                    <span>Attention : Cela supprimera aussi les {{ seance.register_set.count }} inscriptions </span>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'formation_metier:delete_seance' seance.id %}">
                    {% bootstrap_button "Supprimer" button_type="submit" button_class="btn btn-sm btn-danger" %}
                </a>
            </div>
        </div>
    </div>
</div>