<div class="modal fade" id="registerDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suppression d' inscription</h5>
            </div>
            <form method="post" action="{% url 'formation_metier:delete_registration' %}">
                {% csrf_token %}
                <input name="session_id" class="hidden" type="text" value="{{ session.id }}" readonly>
                <span style="padding-left: 15px">Cochez la/les inscription(s) a supprimer pour cette session</span>
                <div class="modal-body">
                    {% for register in session.register_set.all %}
                        <input  type="checkbox" name="inscription" value="{{ register.id }}">
                        <label>{{ register.participant.person }}</label>
                        <br>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <input class="btn btn-danger" type="submit" value="Supprimer">
                </div>
            </form>
        </div>
    </div>
</div>