{% extends 'formation_metier/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load public_cible_display %}
{% load l10n %}
{% block content %}
    {% include 'formation_metier/delete_session.html' %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".btn_delete_register").click(function () {
                if ($(".desinscrption_btn").hasClass("hidden")) {

                    $(".desinscrption_btn").each(function () {
                        $(this).removeClass("hidden")
                    });
                } else {
                    $(".desinscrption_btn").each(function () {
                        $(this).addClass("hidden");
                    });
                }
            });
        });
    </script>


    <ol class="breadcrumb">
        <li><a href="{% url 'formation_metier:home' %}" id="lnk_home_osis"><span class="glyphicon glyphicon-home"
                                                                                 aria-hidden="true"></span></a></li>
        <li>
            <a href="{% url 'formation_metier:list_formation' %}">
                Liste des formation
            </a>
        </li>
        <li>
            <a href="{% url 'formation_metier:detail_formation' session.formation.id %}">
                Formation
            </a>
        </li>
        <li class="active">
            Session
        </li>
    </ol>

    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible alert-link">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    {% if messages %}
        <div class="alert alert-success alert-dismissable alert-link">
            <ul class="messages">
                {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-10">
            <h2>Formation : {{ session.formation.name }} </h2>
        </div>
        <div class="col-md-2" style="margin-top: 20px">
            <div class="btn-group pull-right">
                <button id="btn-action" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-large row ">
                    <li>
                        <a href="{% url 'formation_metier:update_session' session.id %} " class="no_spinner">
                            <form method="post" style="margin: 0">Modifier la session</form>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#sessionDeleteModal">Supprimer la session</a>
                    </li>
                    <li>
                        <a href="{% url 'formation_metier:new_session' session.formation.id %}" class="no_spinner">
                            <form method="post" style="margin: 0">Ajouter une nouvelle session</form>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="btn_delete_register" class="no_spinner btn_delete_register">
                            Supprimer des inscription
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="padding: 10px">
        <div class="panel-body">
            <p>Date : {{ session.date_format }}</p>
            <p>Heure : {{ session.time_format }}</p>
            <p>Local : {{ session.local }}</p>
            <p>Maximum Participant : {{ session.register_count }} / {{ session.participant_max_number }}</p>
            <p>Formateur : {{ session.formateur_id }}</p>
            <p>Formation organisée pour le groupe : {% public_cible_display session %}</p>
            <h3> Inscription : </h3>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="row">
                        <div class="col-lg-8 mb-3">
                            {% bootstrap_form form layout='inline' error_types='none'%}
                        </div>
                        <div>
                            {% bootstrap_button "Inscrire" button_type="submit" button_class="btn-primary" %}
                        </div>
                    </div>
                </form>
            </div>
            {% if session.register_set.count > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <td>Nom du participant</td>
                        <td>Numéro FGS</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>

                    {% for register in session.register_set.all %}
                        <tr style="max-height: 40px">
                            <td>{{ register.participant }}</td>
                            <td> {{ register.participant.numberFGS }}</td>
                            <td class="hidden desinscrption_btn">
                                <a href="{% url 'formation_metier:delete_registration' register.id %}" class="">
                                    {% bootstrap_button "Désinscrire" button_type="submit" size="xs" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    <div>
                    </div>
                    </tbody>
                </table>
            {% else %}
                <p>Il n'y a aucun participant d'inscrit pour l'instant</p>
            {% endif %}
        </div>
    </div>

{% endblock %}


