{% load bootstrap3 %}

<div class="modal fade" id="GenerationLienInscriptionSeanceModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Génération d'un lien d'insciption pour la formation</h5>
            </div>
            <div class="modal-body">
                {{ formation.get_inscription_lien }}
            </div>
        </div>
    </div>
</div>