{% extends 'formation_metier/base.html' %}
{% load est_membre_du_groupe %}
{% load est_inscrit_a_la_seance %}
{% load est_inscrit_a_la_formation %}
{% load bootstrap3 %}
{% load static %}
{% load l10n %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'formation_metier:home' %}" id="lnk_home_osis"><span class="glyphicon glyphicon-home"
                                                                                 aria-hidden="true"></span></a></li>
        <li>
            <a href="{% url 'formation_metier:liste_formation' %}">
                Liste des formation
            </a>
        </li>
        <li>
            <a href="{% url 'formation_metier:detail_formation' formation.id %}">
                Formation
            </a>
        </li>
        <li class="active">
            Inscription
        </li>
    </ol>
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible alert-link">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    {% if messages %}
        <div class="alert alert-success alert-dismissable alert-link">
            <ul class="messages">
                {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-10">
            <h2>Inscription à la formation : {{ formation.name }} </h2>
        </div>
    </div>
    <div class="panel panel-default" style="padding: 10px">
        <div class="panel-body">
            {% if formation.seance_set.count > 0 %}
                <p>Code : {{ formation.code }}</p>
                <p>Description : {{ formation.description }}</p>
                <p>Public cible : {{ formation.get_public_cible_display }}</p>
                <h3>Choix des séances:</h3>
                <form method="post">
                {% csrf_token %}
                    {% for seance in formation.seance_set.all.order_by|dictsort:"seance_date" %}
                        <div class="form-check">
                            {% if user|est_inscrit_seance:seance %}
                                <input class="form-check-input" type="checkbox" name="seance" checked="checked"
                                       value={{ seance.id }} id="{{ seance }}">
                                <label class="form-check-label">{{ seance.seance_date }}</label>
                            {% elif seance.inscription_set.count == seance.participant_max_number and not user|est_inscrit_seance:seance %}
                                <input class="form-check-input" type="checkbox" name="seance" disabled="disabled"
                                       value={{ seance.id }} id="{{ seance }}">
                                <label class="form-check-label" style="color: darkgrey">
                                    {{ seance.seance_date }} (Séance complète)
                                </label>
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="seance"
                                       value={{ seance.id }} id="{{ seance }}">
                                <label class="form-check-label">{{ seance.seance_date }}</label>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if user|est_inscrit_formation:formation %}
                        {% bootstrap_button "Modifier les insciptions" button_type="submit" button_class="btn-primary" %}
                    {% else %}
                        {% bootstrap_button "Sauvegarder les inscriptions" button_type="submit" button_class="btn-primary" %}
                    {% endif %}
                </form>
            {% else %}
                <p> Il n'y a aucune séance prévue actuellement pour la formation {{ formation.name }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}