{% extends 'formation_metier/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load public_cible_display %}
{% block content %}
    <script>
        $(document).ready(function () {
            $(' .formation_row').click(function () {
                window.location = $(this).data('href');
                return false;
            });
        });
    </script>
    <ol class="breadcrumb">
        <li><a href="{% url 'formation_metier:home' %}" id="lnk_home_osis"><span class="glyphicon glyphicon-home"
                                                                                 aria-hidden="true"></span></a></li>
        <li class="active">
            Liste des formation
        </li>
    </ol>
    <div class="page-header">
        <div class="row">
            <div class="col-md-10">
                <h2>Formation organisée</h2>
            </div>
            <div class="col-md-2" style="margin-top: 20px">
                <div class="btn-group pull-right">
                    <button id="btn-action" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-large row text-right pull-right">
                        <li>
                            <a href="{% url 'formation_metier:new_formation' %}">Nouvelle formation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="alert alert-success alert-dismissable alert-link">
            <ul class="messages">
                {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-body">
            {% if formation_list %}
                <table class="table">
                    <thead>
                    <tr>
                        <td>Nom</td>
                        <td>Code</td>
                        <td>Public cible</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for formation in formation_list %}
                        <tr class="formation_row"
                            data-href="{% url 'formation_metier:detail_formation' formation.id %}">
                            <td>
                                <a href="{% url 'formation_metier:detail_formation' formation.id %}">
                                    {{ formation.name }}
                                </a>
                            </td>
                            <td>
                                {{ formation.code }}
                            </td>
                            <td>
                                {% public_cible_display formation %}
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <span> Il n'y a pas de formation organisée</span>
            {% endif %}

        </div>
    </div>
{% endblock %}
