{% extends 'formation_metier/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'formation_metier:home' %}" id="lnk_home_osis"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li>
            <a href="{% url 'formation_metier:index' %}">
                Liste des formation
            </a>
        </li>
        <li>
            <a href="{% url 'formation_metier:detail_formation' formation_id %}">
                Formation
            </a>
        </li>
        <li class="active">
            New Session
        </li>
    </ol>
    <div class="page-header">
        <h2>Nouvelle session</h2>
    </div>
    <div class="panel panel-default" style="padding: 10px">
        <form method="post">{% csrf_token %}
            {% bootstrap_form form %}

            <input type="submit" value="Créer la formation">
            <button type="button" value="Annuler">
                <a href="{% url 'formation_metier:index' %}" style="color: #333">
                    Annuler
                </a>
            </button>
        </form>
    </div>
{% endblock %}