{% extends 'formation_metier/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'formation_metier:home' %}" id="lnk_home_osis"><span class="glyphicon glyphicon-home"
                                                                                 aria-hidden="true"></span></a></li>
        <li>
            <a href="{% url 'formation_metier:liste_formations' %}">
                Liste des formations
            </a>
        </li>
        <li class="active">
            Nouvelle formation
        </li>
    </ol>
    <div class="page-header">
        <h2>Nouvelle formation</h2>
    </div>
    <div class="panel panel-default" style="padding: 10px">
        <form method="post">{% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button "Créer la formation" button_type="submit" button_class="btn-primary" %}
            <a href="{% url 'formation_metier:liste_formations' %}" style="color: #333">
                {% bootstrap_button "Annuler" button_type="button" button_class="btn-secondary" %}
            </a>
        </form>
    </div>
{% endblock %}