{% extends 'formation_metier/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'formation_metier:home' %}" id="lnk_home_osis"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li>
            <a href="{% url 'formation_metier:list_formation' %}">
                Liste des formation
            </a>
        </li>
        <li>
            <a href="{% url 'formation_metier:detail_formation' seance.formation.id%}">
                Formation
            </a>
        </li>
        <li>
            <a href="{% url 'formation_metier:detail_seance' seance.id%}">
                Seance
            </a>
        </li>
        <li class="active">
            Modification de seance
        </li>
    </ol>
    <div class="page-header">
        <h2>Update la seance du {{ seance.seance_date }} de la formation {{ seance.formation.name}}</h2>
    </div>
    <div class="panel panel-default" style="padding: 10px">
        <form method="post">{% csrf_token %}
            {% bootstrap_form form %}

            <input type="submit" value="Update la formation">
            <button type="button" value="Annuler">
                <a href="{% url 'formation_metier:detail_seance' seance.id%}" style="color: #333">
                    Annuler
                </a>
            </button>
        </form>
    </div>
{% endblock %}