{% extends 'formation_metier/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'formation_metier:home' %}" id="lnk_home_osis"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li>
            <a href="{% url 'formation_metier:index' %}">
                Index
            </a>
        </li>
        <li>
            <a href="{% url 'formation_metier:detail_formation' session.formation.id%}">
                Formation
            </a>
        </li>
        <li>
            <a href="{% url 'formation_metier:detail_session' session.id%}">
                Session
            </a>
        </li>
        <li class="active">
            New Session
        </li>
    </ol>
    <div class="page-header">
        <h2>Update session du {{ session.session_date }} de la formation {{ session.formation.name}}</h2>
    </div>
    <div class="panel panel-default" style="padding: 10px">
        <form method="post">{% csrf_token %}
            {% bootstrap_form form %}

            <input type="submit" value="Update la formation">
            <button type="button" value="Annuler">
                <a href="{% url 'formation_metier:detail_session' session.id%}" style="color: #333">
                    Annuler
                </a>
            </button>
        </form>
    </div>
{% endblock %}